<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/style_login.css">
</head>

<body>
    <div class="{{.Type}}">
        <span class="rotate-bg"></span>
        <span class="rotate-bg2"></span>

        <div class="form-box login">
            <h2 class="title animation" style="--i:0; --j:21">Connexion</h2>
            <form action="/api/login" method="POST">

                <div class="input-box animation" style="--i:1; --j:22">
                    <input type="text" name="username" required>
                    <label for="username_login">Pseudo</label>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box animation" style="--i:2; --j:23">
                    <input type="password" name="password" required>
                    <label for="password_login">Mot de passe</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn animation" style="--i:3; --j:24">Login</button>
                <div class="linkTxt animation" style="--i:5; --j:25">
                    <p>Pas de compte ? <a href="#" class="register-link">Inscris-toi </a></p>
                </div>
            </form>
        </div>

        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20"></h2>
            <p class="animation" style="--i:1; --j:21"></p>
        </div>

        <div class="form-box register">

            <h2 class="title animation" style="--i:17; --j:0">Inscription</h2>

            <form action="/api/register" method="POST">
                <div class="input-box animation" style="--i:18; --j:1">
                    <input type="text" name="username"required>
                    <label for="username_signup">Pseudo</label>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box animation" style="--i:19; --j:2">
                    <input type="email" name= "email" required>
                    <label for="email">Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box animation" style="--i:20; --j:3">
                    <input type="password" name="password" required>
                    <label for="password_signup">Mot de passe</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <button type="submit" class="btn animation" style="--i:21;--j:4">Inscription</button>

                <div class="linkTxt animation" style="--i:22; --j:5">
                    <p>Déjà un compte ? <a href="#" class="login-link">Connexion</a></p>
                </div>

            </form>
        </div>

        <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:0;">Bienvenue</h2>
            <p class="animation" style="--i:18; --j:1;"></p>
        </div>

    </div>
    <script src="/scripts/script_login.js"></script>
</body>

</html>